<!DOCTYPE HTML>
<html>

	{{> header }}	

	<body>

		{{> navbar }}


		{{#if_eq name 'index'}}
    	{{/if_eq}}
    
		{{#if_eq name 'cowsandbulls'}}
      		{{> cowsandbulls-content-group }}
    	{{/if_eq}}
    
		{{#if_eq name 'cowsandbulls_game'}}
      		{{> cowsandbulls-content }}
    	{{/if_eq}}
    
		{{#if_eq name 'bookcricket'}}
      		{{> bookcricket-content }}
    	{{/if_eq}}
    
		{{> footer }}	

	</body>
</html>