	<!-- Footer -->
		<div id="footer-wrapper">
			<footer id="footer" class="container">
				<div class="row">
					<div class="8u">
					
						<!-- Links -->
							<section>
								<h2>Contact Us</h2>
								<div>
									<div class="row">
										<div class="3u">
											<ul class="link-list last-child">
												<li><a href="#">Ph: You all know it</a></li>
												<li><a href="#">Email: feedback</a></li>
											</ul>
										</div>
									</div>
								</div>
							</section>

					</div>
					<div class="4u">
						
						<!-- Blurb -->
							<section>
								<h2>Intent</h2>
								<p>
									This is just to have fun and test out few technologies like firebase functions, firebase DB with expressjs. Feel free to pass on the feedback either on the technologies, design ideas or game bugs.
								</p>
							</section>
					
					</div>
					<a href="https://www.freepik.com/free-photos-vectors/background" >Background vector created by starline - www.freepik.com</a>
				</div>
			</footer>
		</div>

