			<div id="header-wrapper">
				<header id="header" class="container">
					<div class="row">
						<div class="12u">
						
							<!-- Logo -->
								<h1><a href="/" ><img src="images/kondagames_main_logo.png" alt="" style="width:300px;height:80px;" /></a></h1>
							
							<!-- Nav -->
								<nav id="nav">
									<a href="/">Homepage</a>
									<a href="/cowsandbulls">Cows and Bulls</a>
									<a href="/bookcricket">Book Cricket</a>
								</nav>

						</div>
					</div>
				</header>
                {{#if_eq name 'index'}}
				<div id="banner">
					<div class="container">
						<div class="row">
							<div class="6u">
							
								<!-- Banner Copy -->
									<p>Lets play some games.. <br>Will keep us young at heart ...</p>
									<br>
									<a href="/cowsandbulls" ><img src="images/cowsandbulls-fulltransparent.png" alt="" style="width:200px;height:100px;" ></a>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									<a href="/bookcricket" ><img src="images/bookcricket-fulltransparent.png" alt="" style="width:200px;height:100px;" ></a>


							</div>
							<div class="6u">
								
								<!-- Banner Image -->
									<a href="" ><img src="images/home-fulltransparent.png" alt="" style="width:500px;height:300px;" ></a>
									
							
							</div>
						</div>
					</div>
				</div>
				{{/if_eq}}
			</div>
