			<div id="header-wrapper">
				<header id="header" class="container">
					<div class="row">
						<div class="12u">
						
							<!-- Logo -->
								<h1><a href="#" id="logo">Konda-Games</a></h1>
							
							<!-- Nav -->
								<nav id="nav">
									<a href="/">Homepage</a>
									<a href="/cowsandbulls">Cows and Bulls</a>
									<a href="/bookcricket">Book Cricket</a>
								</nav>

						</div>
					</div>
				</header>
                {{#if_eq name 'index'}}
    

				<div id="banner">
					<div class="container">
						<div class="row">
							<div class="6u">
							
								<!-- Banner Copy -->
									<p>Lets play some games.. <br>Will keep us young at heart ...</p>

							</div>
							<div class="6u">
								
								<!-- Banner Image -->
									<a href="#" class="bordered-feature-image"><img src="images/banner.jpg" alt="" /></a>
							
							</div>
						</div>
					</div>
				</div>
    	    {{/if_eq}}
			</div>
